@import "_mixin.scss";

.banner{

    max-width: 1920px;
    height: 870px;
    background-image: url(../img/首頁/photo-1588159343745-445ae0b16383.png);

    &Inner{
        height: 870px;
    }

    @include pad{
        width: 100%;
    }

    .btn{
        width: 350px;
        border: 2px solid #fff;
        font-size: 24px;
    }

    .btn:hover{
        background-color: rgba(255,255,255,0.1) !important;
        color: #fff;
    }

}

.indexProducts{

    .btn{
        font-size: 20px;
        line-height: 24px;
        border: 2px solid #000;
    }

}


.indexCard{

    max-width: 1920px;
    
    .soldOut{
        background-color: rgba(0, 0, 0, 0.3);
    }

}


.subscribe{
    max-width: 1920px;
    height: 600px;
    background: url(../img/首頁/photo-1532413992378-f169ac26fff0.png);

    @include pad{
        width: 100%;
    }

    .input-group-lg{
        .form-control{
            border: 2px solid $primary;
        }
    }
}