@import "_mixin.scss";

.memberMenu{

    @include largescreen{
        text-align: center;
    }
    
    .border-bottom{
        border-bottom: 2px solid $primary !important;
    }
    a:hover{
        color: $primary !important;
    }

}

.profile{
    .info{
        font-size: 14px;
        color: #A5A5A5;
    }
}